<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td><h4> Day 1: </h4> 14:00</td>        <!-- time    -->
        <td>< a href = "https://datacarpentry.org/R-ecology-lesson/00-before-we-start.html#What_is_R_What_is_RStudio"> R and R Studio </a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td><h4> Day 1: </h4> 15:15</td>        <!-- time    -->
        <td><a href= "https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html#Creating_objects_in_R" > Creating objects in R</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td><h4> Day 2: </h4>14:00</td>        <!-- time    -->
        <td><a href= "https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html#Vectors_and_data_types" > Vectors and data types </a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 1   -->
        <td><h4> Day 3: </h4>14:00</td>        <!-- time    -->
        <td><a href= "https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html" > Starting with data </a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td><h4> Day 4: </h4>14:00</td>        <!-- time    -->
        <td><a href= "https://datacarpentry.org/R-ecology-lesson/03-dplyr.html" > Data manipulation using dplyr and tidyr </a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td><h4> Day 5: </h4>14:00</td>        <!-- time    -->
        <td><a href= "https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html" > Data visualization with ggplot2 </a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>

</div>

